platform: x64

cache:
- "c:\\sr"
- .stack-work

environment:
  global:
    STACK_ROOT: "c:\\sr"
    TMP: "c:\\tmp"

install:
- set PATH=C:\Program Files\PostgreSQL\9.6\bin\;%PATH%
- curl -sS -ostack.zip -L --insecure http://www.stackage.org/stack/windows-x86_64
- 7z x stack.zip stack.exe

build_script:
- stack setup --no-terminal > nul
- stack build -j1 --copy-bins --local-bin-path .
